.tag-example {
  &__header {
    background-image: linear-gradient(-10deg, rgba($black, .01), rgba($black, .05));
    margin: (-$space-unit) (-$space-unit) $space-unit;
    padding: $half-unit $space-unit;
  }

  &__title {
    color: $black;
    font-family: $mono-font;
    text-align: center;
    margin: 0;
  }

  &__footer {
    text-align: right;
  }

  &__body p code,
  &__body li code {
    color: rgba($black, .9);
    background-color: rgba($primary-color, .1);
    padding: .25rem .5rem;
    border-radius: $radius;
    line-height: 1.75;
    box-shadow: inset -.125rem -.125rem .5rem rgba($black, .05);
  }
}
