#toc_block {
  position: absolute;
  width: calc(100% - 32px);
}

.aside__toc-list {
  @include pseudo-list;

  &--item {
    transition: {
      property: background-color;
      duration: $fast;
      timing-function: ease-out;
    };

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($black, .2);
    }

    &:nth-of-type(odd) {
      background-color: rgba($black, .05);
    }

    &:nth-of-type(even) {
      background-color: rgba($white, .5);
    }

    &:hover {
      background-color: rgba($primary-color, .25);
    }

    &.to-top {
      font-weight: $bold-weight;
      background-color: rgba($primary-color, .1);
    }
  }

  &--link {
    display: block;
    padding: .25rem .5rem;
    transition: {
      property: padding;
      duration: $fast;
      timing-function: ease-out;
    };

    &:hover {
      padding-left: 1rem;
    }
  }
}
