@mixin anim-delay($name, $items, $delay, $duration: 1s, $infinite: "", $timing: $cubic) {
  @for $i from 1 through $items {
    &:nth-of-type(#{$i}) {
      animation: $name $duration $timing ($i * $delay) #{$infinite};
    }
  }
}
