@mixin square($dim) {
  @include size($dim, $dim);
}

@mixin circle($dim) {
  @include square($dim);

  border-radius: 100%;
}

@mixin block {
  background-color: $block-bg;
  margin: $space-unit;
  padding: $space-unit;
  border-radius: $radius;
  box-shadow: 0 1.25rem .75rem -1rem rgba($black, .25);
  transform: translateY(-.25rem);
  transition: {
    property: background-color, box-shadow, transform;
    duration: $fast;
    timing-function: $ease-out;
  };

  &:hover {
    background-color: $white;
    box-shadow: 0 .25rem .5rem -.25rem rgba($black, .5);
    transform: translateY(0);
  }
}
