@mixin breakpoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin print-style {
  @media only print {
    @content;
  }
}

@mixin accessible {
  @media speech {
    @content;
  }
}
