<aside class="site__aside">
  <section class="block" id="toc_block">
    <header class="aside__header">
      <h4 class="aside__header--title">Tags:</h4>
    </header>

    <ul class="aside__toc-list">
      {% for tag in site.tags %}
        {% if tag.group == page.tag_group %}
          <li class="aside__toc-list--item">
            <a href="#{% if tag.anchor %}{{ tag.anchor }}{% else %}{{ tag.title }}{% endif %}" class="aside__toc-list--link">{{ tag.title | remove: "&lt;" | remove: "&gt;" | remove: " /" }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="aside__toc-list--item to-top">
        <a href="#top" class="aside__toc-list--link">Top</a>
      </li>
    </ul>
  </section>
</aside>
