<footer class="site__footer">
  <header class="footer__header"><h5>Helpful links</h5></header>

  <ul class="footer__links list__wrap">
    {% for link in site.data.footer %}
      <li class="footer__links list__item">
        <a href="{{ link.url }}" class="menu__link">
          <div class="menu__item-label">{{ link.text }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
</footer>
