<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <link rel="canonical" href="{{ page.url | prepend:site.url }}" />
    <link rel="shortlink" href="{{ page.url | prepend:site.url }}" />
    <meta name="robots" content="follow, index" />

    <title>
      {% if page.title %}
         {{ site.title }} : {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' | escape }}{% else %}{{ site.keywords }}{% endif %}"/>

    <!-- Open Graph -->
    <meta property="og:url" content="{{ page.url | prepend:site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}
        {{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{ site.description }}{% endif %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/prism.css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" media="screen" />
  </head>
