<ul class="menu__wrap list__wrap">
  {% for item in include.nav %}
    <li class="menu__item list__item">
      <a href="{{ item.url }}" class="menu__link{% if item.url == navurl %} active{% endif %}">
        <div class="menu__item-label">{{ item.text }}</div>
      </a>
    </li>
  {% endfor %}
</ul>
