{% for tag in site.tags %}
  {% if tag.group == include.group %}
    <section class="block tag-example__block" id="{% if tag.anchor %}{{ tag.anchor }}{% else %}{{ tag.title }}{% endif %}">
      <header class="tag-example__header">
        <h4 class="tag-example__title">&lt;{{ tag.title }}&gt;</h4>
      </header>

      {% if tag.example %}
        <h5 class="tag-example__subtitle">HTML example:</h5>
<pre class="html tag-example__code-example"><code class="language-html">
{{- tag.example -}}
</code></pre>
      {% endif %}

      {% if tag.styles %}
        <h5 class="tag-example__subtitle">Default styles:</h5>
<pre class="css tag-example__code-example"><code class="language-css">
{{- tag.styles -}}
</code></pre>
      {% endif %}

      <article class="tag-example__body">
        {{ tag.content }}
      </article>

      <footer class="tag-example__footer">
        <a class="tag-example__doc-link" href="{{ tag.w3link }}" target="_blank">See the W3Schools page</a>
      </footer>
    </section>
  {% endif %}
{% endfor %}
