// Base colors
$black: #000;
$white: #fff;

$gray-10: lighten($black, 10%);
$gray-20: lighten($black, 20%);
$gray-30: lighten($black, 30%);
$gray-40: lighten($black, 40%);
$gray-50: lighten($black, 50%);
$gray-60: darken($white, 40%);
$gray-70: darken($white, 30%);
$gray-80: darken($white, 20%);
$gray-90: darken($white, 10%);

// Theme colors
$primary-color: #5ca0f2;
$secondary-color: #0b3a42;

// Color palate
$red: #ff404a;
$orange: #ff881d;
$yellow: #ffe13d;
$green: #108757;
$blue: #5ca0f2;
$purple: #290b42;

// Area colors
$body-bg: #92c9ff;
$block-bg: rgba($white, .9);

// Font colors
$body-color: $body-bg;
$heading-color: $secondary-color;
$link-color: $secondary-color;
$dark-bg-color: #f8fafb;

// Context colors
$negative-color: $red;
$warning-color: $orange;
$positive-color: $green;
$ignore-color: #869ca8;
$disabled-color: rgba($black, .5);
