$cubic: cubic-bezier(.73, .2, .3, 1);
$ease-out: cubic-bezier(.05,.25,.18,.92);

$time-unit: .5s;

$loader-time: 2s;

$very-fast: $time-unit / 2;
$fast: $time-unit;
$medium: $time-unit * 2;
$slow: $time-unit * 4;
