abbr,
del,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 0;
  cursor: default;
  text-transform: none;
  color: inherit;
  font-size: inherit;
}

address,
cite,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: inherit;
}

blockquote,
dd,
dl,
figure,
pre {
  margin: 0;
}

mark {
  color: inherit;
  background-color: transparent;
}

pre {
  white-space: inherit;
}

q {
  &::before,
  &::after {
    content: '';
    display: none;
  }
}

meter,
progress {
  -webkit-appearance: none;
  width: auto;
  height: auto;
  vertical-align: inherit;
}

dialog {
  position: relative;
  width: 100%;
  height: auto;
  border: 0;
  background: transparent;
  padding: 0;
}
