%hover-base {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    color: rgba($black, .5);
    background-color: rgba($white, .95);
    padding: $half-unit $space-unit;
    border-radius: 0 $radius $radius 0;
    opacity: 0;
    transform: translateX(1rem);
    z-index: 100;
    font: {
      family: $mono-font;
      size: .9em;
    };
    transition: {
      property: opacity, transform;
      duration: $fast;
      timing-function: $ease-out;
    };
  }

  &:hover {
    box-shadow: 0 0 .25rem rgba($primary-color, .5);

    &::after {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin hoverable($content) {
  @extend %hover-base;

  padding: $half-unit $space-unit;
  border-radius: $radius;
  overflow: hidden;

  &::after {
    content: $content;
    box-shadow: -.25rem 0 .5rem -.25rem rgba($black, .5);
  }

  &:hover::after {
    right: 0;
  }
}

@mixin hoverable-input() {
  @extend %hover-base;

  overflow: visible;

  &::after {
    content: '<input type="' attr(type) '">';
    width: 15rem;
    text-align: right;
    box-shadow: .25rem 0 .5rem -.25rem rgba($black, .5);
  }

  &:hover::after {
    right: -15.25rem;
  }
}

.hoverable-page {
  header:not(.block__header) {
    @include hoverable('<header>');
  }

  footer {
    @include hoverable('<footer>');
  }

  main {
    @include hoverable('<main>');
  }

  aside {
    @include hoverable('<aside>');
  }

  section:not(.block) {
    @include hoverable('<section>');
  }

  figure {
    @include hoverable('<figure>');
  }

  figcaption {
    @include hoverable('<figcaption>');
  }

  abbr {
    @include hoverable('<abbr>');
  }

  address {
    @include hoverable('<address>');
  }

  article {
    @include hoverable('<article>');
  }

  blockquote {
    @include hoverable('<blockquote>');
  }

  cite {
    @include hoverable('<cite>');
  }

  pre:not(.code-example) {
    @include hoverable('<pre>');
  }

  q {
    @include hoverable('<q>');
  }

  code:not(.code-example) {
    @include hoverable('<code>');
  }

  kbd {
    @include hoverable('<kbd>');
  }

  samp {
    @include hoverable('<samp>');
  }

  var {
    @include hoverable('<var>');
  }

  mark {
    @include hoverable('<mark>');
  }

  time {
    @include hoverable('<time>');
  }

  nav {
    @include hoverable('<nav>');
  }

  input {
    @include hoverable-input;
  }
}
