<!doctype html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>My title!</title>
</head>


<body>
  <div class="site__header">
    <h1 class="site__title">Semantic tags! Woot!</h1>

    <nav class="navigation__main" id="main_menu">
      <ul class="menu__wrap list__wrap">
        <li class="menu__item list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label">Home</div>
          </a>
        </li>
        <li class="menu__item list__item">
          <a href="/about" class="menu__link">
            <div class="menu__item-label">About</div>
          </a>
        </li>
        <li class="menu__item list__item">
          <a href="/contact" class="menu__link">
            <div class="menu__item-label">Contact</div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="site__content">
    <header class="page__header">
      <h2 class="page__title">{{ page.title }}</h2>
      <h3 class="page__subtitle">{{ page.subtitle }}</h3>
    </header>
    <section class="page__content">
      {{ content }}
    </section>
  </main>

  <aside class="site__sidebar">
    <header><h4>Archive:</h4></header>

    <section class="archive">
      <section class="archive-group__wrapper">
        <header class="archive-group__heading">October</header>
        <ul class="archive-group__list">
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/3">3</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/2">2</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/1">1</a>
          </li>
        </ul>
      </section>

      <section class="archive-group__wrapper">
        <header class="archive-group__heading">September</header>
        <ul class="archive-group__list">
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/30">30</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/29">29</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/28">28</a>
          </li>
        </ul>
      </section>
    </section>
  </aside>

  <footer class="site__footer">
    <section class="footer-group">
      <header class="footer-group__header"><h5>Helpful links</h5></header>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </section>

    <section class="footer-group">
      <header class="footer-group__header"><h5>Helpful links</h5></header>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </section>

    <section class="footer-group">
      <header class="footer-group__header"><h5>Helpful links</h5></header>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </section>
  </footer>
</body>
</html>
