<!doctype html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>My title!</title>
</head>


<body>
  <div class="site__header">
    <div class="site__title">Semantic tags! Woot!</div>

    <div class="navigation__main" id="main_menu">
      <ul class="menu__wrap list__wrap">
        <li class="menu__item list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label">Home</div>
          </a>
        </li>
        <li class="menu__item list__item">
          <a href="/about" class="menu__link">
            <div class="menu__item-label">About</div>
          </a>
        </li>
        <li class="menu__item list__item">
          <a href="/contact" class="menu__link">
            <div class="menu__item-label">Contact</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="site__content">
    <div class="page__header">
      <div class="page__title">{{ page.title }}</div>
      <div class="page__subtitle">{{ page.subtitle }}</div>
    </div>
    <div class="page__content">
      {{ content }}
    </div>
  </div>

  <div class="site__sidebar">
    <div>Archive:</div>

    <div class="archive">
      <div class="archive-group__wrapper">
        <div class="archive-group__heading">October</div>
        <ul class="archive-group__list">
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/3">3</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/2">2</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/10/1">1</a>
          </li>
        </ul>
      </div>

      <div class="archive-group__wrapper">
        <div class="archive-group__heading">September</div>
        <ul class="archive-group__list">
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/30">30</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/29">29</a>
          </li>
          <li class="archive-group__list-item">
            <a class="archive-group__link" href="/9/28">28</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="site__footer">
    <div class="footer-group">
      <div class="footer-group__header"><div>Helpful links</div></div>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-group">
      <div class="footer-group__header"><div>Helpful links</div></div>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-group">
      <div class="footer-group__header"><div>Helpful links</div></div>

      <ul class="footer-group__links list__wrap">
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
        <li class="footer-group__link list__item">
          <a href="/" class="menu__link">
            <div class="menu__item-label"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
