body {
  @include breakpoint($tablet) {
    &:not(.full-width) {
      display: grid;
      padding: $space-unit;
      grid-template: {
        columns: 1fr 15em;
        rows: repeat(3, auto);
        areas:
          "header header"
          "main aside"
          "footer footer";
      }
    }
  }
}
