.site__header {
  @include block;

  display: flex;
  justify-content: space-between;

  .menu__wrap {
    @include inline-list;

    .menu__item {
      padding-left: $space-unit;
      text-align: right;
    }
  }

  @include breakpoint($tablet) {
    grid-area: header;
  }
}
