---
layout: hoverable
title: Hover examples
permalink: /hover-example/
aside: false
---


<section class="block">
  <header class="block__header">
    <h4>Step 1</h4>
  </header>

  <header>Header example</header>

  <footer>Footer example</footer>

  <main>Main example</main>

  <aside>Aside example</aside>

  <section>Section example</section>
</section>

<section class="block">
  <header class="block__header">
    <h4>Step 2</h4>
  </header>

  <figure>
    <img src="/img/placeholder.jpg"/>
    <figcaption>Figcaption example</figcaption>
  </figure>

  <p>Paragraph with an <abbr title="abbreviation">abbr example</abbr> in it.</p>

  <address>Address example</address>

  <article>Article example</article>

  <blockquote>Blockquote example</blockquote>

  <cite>Cite example</cite>

  <pre>Pre(foramtted) example</pre>

  <p>Paragraph with a <q>q(uote) example</q> in it.</p>

  <p>Paragraph with a <code>code example</code> in it.</p>

  <p>Paragraph with a <kbd>kbd (keyboard) example</kbd> in it.</p>

  <p>Paragraph with a <samp>samp(le) example</samp> in it.</p>

  <p>Paragraph with a <var>var(iable) example</var> in it.</p>

  <p>Paragraph with a <mark>mark example</mark> in it.</p>

  <p>Paragraph with a <time>time example</time> in it.</p>

  <nav>Nav example</nav>
</section>

<section class="block">
  <header class="block__header">
    <h4>Step 3</h4>
  </header>

  <form>
    <p class="form__input--wrap">
      <label class="form__input--label">Date input example</label>
      <input class="form__input" type="date" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Datetime local input example</label>
      <input class="form__input" type="datetime-local" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Month input example</label>
      <input class="form__input" type="month" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Time input example</label>
      <input class="form__input" type="time" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Week input example</label>
      <input class="form__input" type="week" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Email input example</label>
      <input class="form__input" type="email" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">URL input example</label>
      <input class="form__input" type="url" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Tel input example</label>
      <input class="form__input" type="tel" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Number input example</label>
      <input class="form__input" type="number" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Search input example</label>
      <input class="form__input" type="search" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Color input example</label>
      <input class="form__input" type="color" />
    </p>

    <p class="form__input--wrap">
      <label class="form__input--label">Range input example</label>
      <input class="form__input" type="range" />
    </p>
  </form>
</section>

<section class="block">
  <header><h3>All tag resets:</h3></header>

  <p>Find me in <code>./_sass/globals/_html5-reset.scss</code></p>

<pre class="css code-example"><code class="language-css code-example">abbr,
del,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 0;
  cursor: default;
  text-transform: none;
  color: inherit;
  font-size: inherit;
}

address,
cite,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: inherit;
}

blockquote,
dd,
dl,
figure,
pre {
  margin: 0;
}

mark {
  color: inherit;
  background-color: transparent;
}

pre {
  white-space: inherit;
}

q {
  &::before,
  &::after {
    content: '';
    display: none;
  }
}

meter,
progress {
  -webkit-appearance: none;
  width: auto;
  height: auto;
  vertical-align: inherit;
}

dialog {
  position: relative;
  width: 100%;
  height: auto;
  border: 0;
  background: transparent;
  padding: 0;
}</code></pre>
</section>
