<!doctype html>

<html class="no-js" lang="en">
{% include head.html %}

<body class="{% if page.aside == false %}full-width{% endif %}">
  {% include header.html %}
  {{ content }}
  {% if page.aside != false %}
    {% include aside.html %}
  {% endif %}
  {% include footer.html %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {% include scripts.html %}
</body>
</html>
