---
layout: default
---

<main class="site__main">
  <header class="page__header block">
    <h2 class="page__title">{{ page.title }}</h2>
  </header>
  <section class="page__content hoverable-page">
    {{ content }}
  </section>
</main>
