---
layout: default
---

<main class="site__main">
  <header class="page__header block">
    <h2 class="page__title">{{ page.title }}</h2>
    <h3 class="page__subtitle">{{ page.subtitle }}</h3>
  </header>
  <section class="page__content">
    {{ content }}
  </section>
</main>
