%code-tag {
  font-family: $mono-font;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 $radius;
  background: rgba(darken($white, 3%), .9);
  padding: .25rem $half-unit;
  box-shadow: -.25rem .125rem .5rem rgba($black, .1);
}

pre[class*='language-'] {
  position: relative;
  background-color: rgba($primary-color, .05);
  box-shadow: inset -.125rem -.125rem .5rem rgba($black, .05);
  border-radius: $radius;
  max-width: 60em;
  padding: $half-unit;
  margin: 0 auto $space-unit;
  tab-size: 2;

  span {
    font-family: $mono-font;
  }
}

pre.language-css::after {
  @extend %code-tag;

  content: 'css';
}

pre.language-html::after {
  @extend %code-tag;

  content: 'html';
}

code[class*='language-'] {
  display: inline-block;
  text-shadow: none;
  font-family: $mono-font;
  line-height: 1.4;
  tab-size: 2;
}
